body {
    font-family: Arial, sans-serif;
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
}

header {
    background: #012b12;;
    color: white;
    padding: 20px;
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    background: #012b12;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    padding: 40px;
    margin: 0 15px;
    display: inline;
    margin: 1 15px;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
}

nav ul li a {
    padding: 10px;
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.btn {
    background: limegreen;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}

.hero {
    text-align: center;
    padding: 50px;
    background: #012b12;
}

.hero h1 {
    font-size: 36px;
}

.hero p {
    font-size: 18px;
    color: #555;
}

.hero-image img {
    max-width: 100%;
    height: auto;
}

.buss-text{
    font-size: 30px;
    color: black;
    font-style: italic;
}

section {
    padding: 50px;
    text-align: center;
}
.features{
    color: black;
    text-align: right;
    padding: 30px 20px;
}
.features img{
    margin-left: 12px;
    max-width: 400px;
    padding: 20px;
    display: flex;
    justify-content:right;
}
.local{
    color: black;
    text-align: right;
}
.local img{
    margin-left: 30px;
    padding: 20px;
    max-width: 400px;
    display: flex;
    justify-content: left;
}
.benefits {
    text-align: right;
    color: black;
}
.benefits img{
    margin-right: 70px;
    padding: 20px;
    max-width: 400px;
    display: flex;
    justify-content: right ;
}
.Paymint{
    background-color: #012a16;
    color: white;
    list-style-type: none;
    text-align: right;
}
.Paymint img{
    height: 50%;
    width: 50%;
    display: flex;
    justify-content: right;
}

.solution {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3,3fr);

}


.success{
    text-align: right;
    background-color: #f9f9f9;
}
.success img {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: left;
}
.container{
    text-align: left;
    background-color: #012a16;
    color: white;
    padding: 20px;
}
.container img{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: left;
}
.global-reach{
    text-align: left;
    background-color: #f9f9f9;
}
.flags{
    text-align: bottom;
    gap: 20px;
    width: 20%;
    padding: 70px;
    display: grid;
    grid-template-columns: repeat(2,3fr);
}
.Ready{
    color: lawngreen;
}
.started{
    background-color: #012b12;
    color: white;
}

.footer {
    background-color: white;
    color:black;
    text-align: center;
    padding: 20px;
    display: flex;
    justify-content: space-around;
}
.footer-section h3{
    margin-bottom: 10x;
}
.footer-section ul{
    list-style-type: none;
    padding: 0;
}

.hiring {
    background-color: lawngreen;
    padding: 2px 5px;
    border-radius: 3px;
}
.app-store, .play-store {
    display: block;
    margin-top: 10px;
    padding: 10px;
    border: none;
    cursor: pointer;
    background-color: #012a16;
    color: white;
    border-radius: 5px;
}
.here{
    color: #012b12;
}
.common{
    color: black;
    background-color: white;
    font-size: 20px;
    font-weight: bold;
}
.contact-btn{
    background-color: forestgreen;
    color: #012b12;
    padding: 10px 20px;
    cursor: pointer;
    border-color: white;
}
